@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
  margin: 0;
}

/* Container  */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

/* Header Alanı */
.anouncment {
  width: 100%;
  height: 29px;
  background-color: #a52a2a;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
}
.anouncment p {
  text-decoration: underline;
  color: white;
  font-size: 16x;
  cursor: pointer;
  font-family: "Oswald";
  margin-bottom: 1px;
}
header {
  background-color: #333;
  color: #fff;
}

/* Logo */
.img-logo {
  margin-left: 10px;
}

/* Navbar */
nav ul {
  list-style: none;
  display: flex;
  letter-spacing: 1.75px;
  font-size: 20px;
}
nav ul li ul {
  display: none;
}
nav ul li:hover ul {
  display: block;
  position: absolute;
  margin-left: -20px;
  background-color: #333;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav li {
  margin-right: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
nav ul li:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: black;
  transition: 0.5s;
}

/* İndirim */
.discount {
  color: #ff0000;
  font-family: "Raleway", sans-serif;
}

/* İkon */
.icons {
  margin-left: auto;
}

.icons li {
  margin-right: 10px;
}

/* Hero Alanı */
.hero-section {
  background: url("../images/hero-banner.jpeg") no-repeat;
  height: 80vh;
  max-width: 100%;
  color: #333;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}
#deneme {
  margin-top: 160px;
  margin-left: 45px;
  font-size: 100px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1px;
}

.hero-content a {
  margin-top: 20px;
  margin-left: 90px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 5px;
  border: 2px solid #fff; /* Kenarlık eklemek için */
  transition: transform 0.5s ease, opacity 0.5s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.cta-button:hover {
  color: #333;
  border-color: #333;
  transform: scale(1.1);
  opacity: 0.8;
}
/* Content Alanı */
.discount-img {
  background-color: black;
  width: 150px;
  height: 40px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.content {
  padding: 20px;
  margin: 10px;
  background-color: #fff;
}
.content h1 {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  font-family: "Tinos", serif;
  margin-bottom: -5px;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.card img {
  max-width: 100%;
  height: 300px;
}
.card-content {
  padding: 20px;
  color: #333;
}
.buy-now-btn {
  display: inline-block;
  background-color: #333; /* Adjust the background color as needed */
  color: #ffffff; /* Adjust the text color as needed */
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buy-now-btn:hover {
  background-color: #45a049; /* Adjust the hover background color as needed */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
.cok-satan {
  padding: 20px;
}
.brands a {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.brands a:hover {
  transform: scale(1.1);
  animation-duration: 0.5s;
}
.cok-satan-yazi h2 {
  font-weight: bold;
  font-size: 48px;
  text-align: start;
  font-family: "Tinos", serif;
  margin-bottom: -5px;
}
.discount-product {
  padding: 10px;
}
.discount-product-yazi h2 {
  font-weight: bold;
  font-size: 48px;
  text-align: start;
  font-family: "Tinos", serif;
  margin-bottom: -5px;
  color: #a52a2a;
  margin-left: 15px;
}
.product-area h2 {
  margin: 50px 20px;
}

.brands {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 60px;
  margin-top: 20px;
}
.brand {
  width: 200px;
  height: 200px;
  background-color: #333;
  border-radius: 20px;
}

/* İletişim Alanı */
/* form css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
  background-color: linear-gradient(#ffdad5, #fff7f9);
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: black;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 600px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color:white;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.401);
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus {
  border: 2px solid black;
}

.contact-inputs::placeholder {
  color: rgba(10, 10, 10, 0.335);
}
.contact-left button {
  display: inline-block;
  padding: 15px 30px;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 5px;
  border: 2px solid #333; /* Kenarlık eklemek için */
  transition: transform 0.5s ease, opacity 0.5s ease, color 0.3s ease,
    border-color 0.3s ease;
}
.contact-left button:hover {
  color: white;
  background-color: #333;
  border-color: white;
  transform: scale(1.1);
  opacity: 0.8;
}

.contact-left button img {
  height: 15px;
}
.contact-right img {
  width: 500px;
  /* eger resim eklersen */
}

/* Footer Alanı */

/* footer kısmının ana hatlarının metin stili */
.AnaHatMetinStili {
  opacity: 0.5; /* %50 saydamlık */
  color: black;
  text-decoration: underline;

  font-size: 19.5px;
  font-family: "Lato";
  text-align: center;
}

ul {
  list-style-type: none;
}

.telefonIcon::before {
  content: "\260E"; /* Telefon simgesi unicode değeri */
  font-size: 20px;
  margin-right: 5px; /* İkon ile metin arasındaki boşluk */
}

/* iletisim bilgisi yazi stili */
.iletisim-bilgisi {
  color: black;
}
/* footer kısmındaki başlıkların ,alt başlıklarının boyutu */
.small-font {
  font-size: 17px;
}

/* Singleproduct.php */
.product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

.product-details {
  max-width: 400px;
}

.add-to-cart {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-to-favorite {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #45a049;
}

.add-to-favorite:hover {
  background-color: rgb(156, 156, 40);
}

/* About us */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-image img {
  max-width: 100%;
  margin-left: 170px;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.about-content {
  flex: 1;
}
.about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}
.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
.about-content .read-more {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3 ease;
}
.about-content .read-more:hover {
  background-color: #3e8e41;
}

/* searchbar */
.searchBar {
  width: 100%;
  max-width: 700px;
  background: linear-gradient(
    270deg,
    rgba(81, 15, 15, 0.571),
    rgba(0, 0, 0, 0.189)
  );
  margin-left: 370px;
  margin-top: 50px;
  border-radius: 60px;
  padding: 10px 20px;
  display: flex;
  /* arama butonunu barın sagina yaslamamı saglayan ifade */
  align-items: center;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

::placeholder {
  color: rgba(87, 64, 64, 0.24);
}

.searchBar input {
  background: transparent;
  flex: 1;
  /* arama butonunu bara göre ayarlamamı saglayan ifade */
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: black;
}

.searchBar img {
  border-radius: 50%;
  width: 65px;
  height: 60px;
}
.searchBar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}
